/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*===== Colores =====*/
  --first-color: #000000;
  --first-color-light: #fcd135;
  --first-color-lighten: #efc227;

  /*===== Font and typography =====*/
  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
} /*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--first-color);
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== LOGIN =====*/

.login {
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.login-content {
  display: grid;
}

.image {
  justify-self: center;
}

.image img {
  width: 310px;
  margin-top: 1.5rem;
}
.login-form {
  position: relative;
  height: 368px;
}
.login-registre,
.login-create {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  background-color: var(--first-color-light);
  padding: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
  animation-duration: 0.4s;
  animation-name: animate-login;
}
@keyframes animate-login {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.login-title {
  font-size: var(--h1-font-size);
  font-weight: 400;
  color: var(--first-color);
  margin-bottom: 1rem;
  text-align: center;
}
.login-box {
  display: flex;
  padding: 1.125rem 1rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
.login-icon {
  font-size: 1.2rem;
  color: var(--first-color);
  transition: color 0.3s ease;
  padding-right: 0.5rem;
}
.login-input {
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  font-weight: bolder;
  color: var(--first-color-darken);
}

.login-input::placeholder {
  color: #a49eac;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.login-forget {
  font-size: var(--small-font-size);
  color: var(--first-color);
  text-align: left;
  margin-top: 0.5rem;
}
.login-button {
  display: block;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--first-color);
  color: #fff;
  text-align: center;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}
.login-button:hover {
  background-color: #67540c;
}
.login-account,
.login-signin,
.login-signup {
  font-size: var(--small-font-size);
  font-weight: 600;
}

.login-account {
  color: var(--first-color);
  text-align: left;
}

.login-signin,
.login-signup {
  color: var(--first-color);
  cursor: pointer;
  text-align: center;
}

.login-social {
  margin-top: 2rem;
}

.login-social-link {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-top: 0 1.5rem;
}
.block {
  display: block;
}

.none {
  display: none;
}
@media screen and (min-width: 576px) {
  .login-form {
    width: 348px;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .login {
    height: 100vh;
    overflow: hidden;
  }

  .login-content {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
  }

  .image {
    display: flex;
    width: 600px;
    height: 588px;
    background-color: var(--first-color-lighten);
    border-radius: 1rem;
    padding-left: 1rem;
  }
  .image img {
    width: 390px;
    margin-top: 0;
  }
  .login-registre,
  .login-create {
    left: -11rem;
    text-align: center;
  }
  .login-registre {
    bottom: -2rem;
  }

  .login-create {
    bottom: -5.5rem;
  }
}
